.wrap3 {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    
    @media (max-width: 540px){
        max-width: 300px;
    }

    input {
        padding: 20px;
    }

    button {
        padding: 15px;
        background-color: yellow;
        border: none;
        font-weight: 700;
    }

    
}

.section3 {
    padding: 60px 0;
}